<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Eppm!</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
  <nav>
    <div class="nav-wrapper">
      <a href="<%= page_path(@conn, :index) %>" class="brand-logo left"><i class="material-icons">timeline</i>EPPM</a>
      <ul class="right hide-on-large-and-down">
        <li><a href="search.html"><i class="material-icons">search</i></a></li>
        <li><a href="badges.html"><i class="material-icons">view_module</i></a></li>
        <%= if @conn.assigns[:user] do %>
          <li><a href="<%= auth_path(@conn, :signout) %>"><i class="material-icons">cloud_off</i></a></li>
        <% else %>
          <li><a href="<%= auth_path(@conn, :request, "github") %>"><i class="material-icons">cloud</i></a></li>
        <% end %>
        <li><a href="mobile.html"><i class="material-icons">more_vert</i></a></li>
      </ul>
    </div>
  </nav>
    <div class="container">
      <div>
        <span class="closebtn span-info" onclick="this.parentElement.style.display='none';">
        <%= if get_flash(@conn, :info) do %>&times;<% end %>
        </span> 
        <p class="alert alert-info"><%= get_flash(@conn, :info) %></p>
      </div> 
      <div>
        <span class="closebtn span-info" onclick="this.parentElement.style.display='none';">
        <%= if get_flash(@conn, :error) do %>&times;<% end %>
        </span> 
        <p class="alert alert-danger"><%= get_flash(@conn, :error) %></p>
      </div>
      
      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>
    </div> <!-- /container -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>  
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
